<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name=file>
        <input type="submit" name=загрузить>
    </form>
        {% for msg in get_flashed_messages() %}
            <div class="flash"> {{ msg }} </div>
        {% endfor %}
    {% endblock %}
</body>
</html>